.mt-single-gallery {
  & > * {
    user-select: none;
  }
  .gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.75rem;
    @media (max-width: 992px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 720px) {
      grid-template-columns: 1fr;
    }
    a {
      text-decoration: none;
      color: #026b8f;
      font-weight: bold;
    }

    .item {
      height: 12rem;
      transition: filter 0.2;
      filter: grayscale(0.5);
      &:hover {
        filter: grayscale(0);
      }
      .content {
        height: 60%;
      }
      .footer {
        height: 40%;
        background: rgba(#fff, 0.6);
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 0.75rem;
      }
    }
  }

  .gallery-pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    button {
      background: #026b8f;
      color: #fff;
      font-weight: bold;
      padding: 0.5rem;
      border-radius: 0.35rem;

      cursor: pointer;
      font-size: 0.75rem;
      border: 0;
      &.disabled {
        background-color: #dfe1e5;
        color: #a3a3a3;
        cursor: not-allowed;
      }
    }
    div {
      color: #026b8f;
      font-size: 0.75rem;
    }
  }
}
